<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Social_Event_Planner</servlet-name>
    <servlet-class>com.sep.Social_Event_PlannerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InvitationHandler</servlet-name>
    <servlet-class>com.sep.InvitationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvitationHandler</servlet-name>
    <url-pattern>/InvitationHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecommendGiftHandler</servlet-name>
    <servlet-class>com.sep.RecommendGiftHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendGiftHandler</servlet-name>
    <url-pattern>/RecommendGiftHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Social_Event_Planner</servlet-name>
    <url-pattern>/Social_Event_Planner</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>